@page "/addCategory"
@inject NavigationManager NavigationManager
@inject UseCases.CategoryUseCase.Interfaces.IAddCategoryUseCase AddCategoryUsecase

<h3>Add Category</h3>
<br/>
@if (true)
{
    <EditForm Model="category" OnValidSubmit="onValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="category.Name" class="form-control">
            </InputText>
        </div>

        <div class="form-group">
            <label for="name">Description</label>
            <InputText id="description" @bind-Value="category.Description" class="form-control">
            </InputText>
        </div>

        <button type="submit" class="btn btn-primary">Add Category</button>
        <button type="submit" class="btn btn-primary" @onclick="onClickCancel">Go Back</button>

    </EditForm>
}

@code {
    private Category category;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        category = new Category();
    }

    private void onValidSubmit()
    {
        AddCategoryUsecase.Execute(category);
        NavigationManager.NavigateTo("/categories");
    }

    private void onClickCancel()
    {
        NavigationManager.NavigateTo("/categories");

    }
}
